
@{
    ViewBag.Title = "Productone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Product Details</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Service Details</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
        <div class="row gy-4">
            <h3 class="col-lg-2"></h3>
            <h3 class="col-lg-4" style="">  Digital Timer Auto </h3>  <h3 class="col-lg-4">Model No: 301 / 101 </h3>
        </div>
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4">
                    <div class="services-list">
                        <h3>उपलब्ध सुविधाः</h3>
                        <ul>
                            <li>
                                <span>
                                    15 मिनिटे ते 9 तास 45 मिनिटे पर्यंत टाइमर वर मोटर चालवू शकता.
                                </span>
                            </li>
                            <li>
                                <span>
                                    ऑटो स्विच किव्हा टाइमर ऑटो स्विच म्हणून वापर करता येतो.
                                </span>
                            </li>
                            <li> <span>SPP पासून मोटर चे संरक्षण करतो.</span></li>
                            <li> <span> DOL आणि सेमी-ऑटोमॅटिक साठी उपलब्ध,</span></li>
                            <li>
                                <span>
                                    लाईट नसतांना सुद्धा टाइमर किव्हा ऑटो  मोड सेट करू शकता.
                    </div>     
                    
                    <img src="~/Content/assets/img/Productpage1.jpeg" style="height:350px; width:350px;" />
                    <p>टायमर पूर्ण झाल्या नंतर डिस्प्ले वर 10 दिसेल आणि टाइमर चा दिवा चालू असेल</p>

                </div>

                <div class="col-lg-8">
                    <img src="~/Content/assets/img/Product1.jpeg" style="height:450px; width:630px;" alt="" class="img-fluid services-img" />
                    <h3>LED</h3>

                    <ul>
                        <li> <span>1. SPF: लाईट मध्ये बिघाड आहे..</span></li>
                        <li> <span>2. AUTO: ऑटो मोड सुरु आहे.</span></li>
                        <li> <span>3. TIMER: टाइमर मोड सुरु आहे.</span></li>
                    </ul>

                    <h3>BUTTONS</h3>
                    <ul>

                        <li> <span>1. BATTERY:</span></li>
                        <li> <span> लाईट नसतांना सेटिंग करण्यासाठी हे बटण दाबून ठेवावे. </span> </li>

                        <li> <span>2. SET MODE:</span></li>
                        <li>
                            <span>
                                हे बटण एकदा दाबल्यास DIGITAL TIMER AUTO हा साध्या ऑटो  स्वीटच प्रमाणे  काम करतो, आणि हे बटण पुन्हा दाबल्यास किव्हा दाबून ठेवल्यास मोटर सुरु ठेवण्याचा टाइम सेट केला जातो.
                    </ul>


                </div>

            </div>

        </div>
    </section><!-- End Service Details Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span>Logis</span>
                </a>
                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Product Management</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    A108 Adam Street <br>
                    New York, NY 535022<br>
                    United States <br><br>
                    <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Email:</strong> info@example.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Logis</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->