
@{
    ViewBag.Title = "Productthree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Product Details</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Service Details</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
        <div class="row gy-4">
            <h3 class="col-lg-2"></h3>
            <h3 class="col-lg-4" style="">  Dry Run Auto With Restart  </h3>  <h3 class="col-lg-4">Model No: 303 / 103 </h3>
        </div>
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4">
                    <div class="services-list">
                        <h3>उपलब्ध सुविधाः</h3>
                        <ul>
                            <li>
                                <span>
                                    ड्रायरून सेट करता येतो (करंट उपडेट).
                                </span>
                            </li>
                            <li>
                                <span>
                                    ड्रायरून बायपास करता येती (पाणी संपले तरी मोटर सुरूच राहणार).
                                </span>
                            </li>
                            <li> <span>लाईट आली कि ऑटो मोड मध्ये मोटर सुरु केली जाते आणि ड्रायरून झाल्यास बंद केली जाते, रिस्टार्ट टाइम सेट केला असेल तर रिस्टार्ट टाइम संपल्या नंतर परत मोटर सुरु होते.</span></li>
                            <li> <span> डीले टाइम सेट केला जातो.</span></li>
                            <li>
                                <span>
                                    पाणी संपल्या नंतर (ड्रायरून) रिस्टार्ट टाइम १ तास २ तास किव्हा ३ तासा पर्यंत लावण्याची सुविधा
                    </div>

                    <img src="~/Content/assets/img/Productpage3.jpeg" style="height:350px; width:350px;" />
                    <p>टायमर पूर्ण झाल्या नंतर डिस्प्ले वर 10 दिसेल आणि टाइमर चा दिवा चालू असेल</p>

                </div>

                <div class="col-lg-8">
                    <img src="~/Content/assets/img/Product3.jpeg" style="height:450px; width:630px;" alt="" class="img-fluid services-img" />
                    <h3>LED</h3>

                    <ul>
                        <li> <span>1. SPP: लाईट मध्ये बिघाड आहे.</span></li>
                        <li> <span>2. 1 Hr: 1 तास रिस्टार्ट टाइम सेट आहे.</span></li>
                        <li> <span>3. 2 Hr: 2 तास रिस्टार्ट टाइम सेट आहे.</span></li>
                        <li>
                            <span>
                                3. 2 Hr: 2 तास रिस्टार्ट टाइम सेट आहे.
                                IHr आणि 2Hr दोन्ही दिवे चालू असतील तर 3 तास रिस्टार्ट टाइम सेट आहे.
                            </span>
                        </li>
                        <li> <span>4. MOTOR ON: मोटर सुरु आहे.</span></li>
                        <li> <span>5. DRY_RUN मोटर ड्राय झालेली आहे.</span></li>
                        <li> <span>6. DRY_RUN_BYPASS: ड्रायरून बायपास आहे (म्हणजे पाणी संपले तरी मोटर बंद होणार नाही)</span></li>
                    </ul>

                    <h3>BUTTONS</h3>
                    <ul>

                        <li> <span>1. DRYRUN SET:</span></li>
                        <li> <span> मोटर बंद असतांना हे बटण दाबल्यास ड्रायरून बायपास केले जाते आणि ड्रायरून बायपास हा दिवा सुरु होतो.</span> </li>
                        <li> <span>  b. मोटर सुरु असतांना हे बटण दाबल्यास ड्रायरून सेट केले जाते आणि ड्रायरून बायपास हा दिवा बंद होतो.</span></li>
                        <li> <span>2. RESTART TIMER:</span></li>
                        <li> <span>  ड्रायरून नंतर मोटर रिस्टार्ट टाइम या बटण ने सेट केला जातो.</span></li>

                        <li> <span>  ड्रायरून परसेन्ट सेट करण्यासाठी: ऑटो बंद असतांना ड्रायरन रीसेट टाइम टाइम बटण दाबून ऑटो चालू करावा, आणि ड्रायरन रीसेट टाइम बटण ने ड्रायरून परसेन्ट सेट करावा.</span></li>
                        <li>
                            <span>
                                डीले टाइम सेट करण्यासाठी: डीले टाइम सेट करण्यासाठी करण्यासाठी ऑटो बंद असतांना टाइमर बटण दाबून ठेवावे. आता मेन चालू करून किव्हा फियूज फिट करून ऑटो सुरु करावा, ऑटो सुरु झाल्या बरोबर त्यावर dt दिसेल,
                                नंतर व टाइमर बटण ने डीले टाइम वाढवता येतो. डीले टाइम जास्तीत जास्त २० मिन होऊ शकतो.
                            </span>
                        </li>

                    </ul>


                </div>

            </div>

        </div>
    </section><!-- End Service Details Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span>Logis</span>
                </a>
                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Product Management</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    A108 Adam Street <br>
                    New York, NY 535022<br>
                    United States <br><br>
                    <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Email:</strong> info@example.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Logis</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->