
@{
    ViewBag.Title = "RegList";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Registration.js"></script>

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Registration List</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <table id="tblRegistration" border="1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>City</th>
                            <th>Mobile_Number</th>
                            <th>Pincode</th>
                            <th>State</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>ConfirmPassword</th>
                        </tr>
                    </thead>

                    <tbody></tbody>

                </table>
                
                
            </div>
            <!-- /.card-body -->

        </form>
    </div>
   

</div>