
@{
    ViewBag.Title = "AdminGalleryList";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Gallery1.js"></script>


<div class="col-md-6">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Quick Example</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <table id="tblGallery" border="1">
                    <thead>

                    <th>Id</th>
                    <th>Title</th>
                    <th>Photo</th>

                    </thead>

                    <tbody></tbody>

                </table>



            </div>
            <!-- /.card-body -->


        </form>
    </div>

</div>


