
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Gallery1.js"></script>


<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Gallery</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="form-group">
                    <label for="txtTitle">Title</label>
                    @*<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                    <input id="txtTitle" type="text" class="form-control" placeholder="Please Enter Title" />
                </div>
                <div class="form-group">
                    <label for="file1">File</label>
                    @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">*@
                    <input id="file1" type="file" class="form-control" />
                </div>           
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                @*<button type="submit" class="btn btn-success">Submit</button>*@
                <input id="Button1" type="button" class="btn btn-success" value="Submit" onclick="savegallery()" />
            </div>
        </form>
    </div>
    

</div>
<br />
<br />
<hr />



           
